{% load static %}

<!-- Card -->
<div class="card my-3">
    <div class="card-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-auto">
                        <a href="{% url 'profile' post.author.username %}">
                            <img class="rounded-circle" width="32" src="{% static 'users/img/'|add:post.author.profile.picture %}" alt="{{ view_user.username }}">
                        </a>
                        </div>
                        <div class="col my-auto">
                            <a href="{% url 'profile' post.author.username %}" class="text-primary my-auto">
                            <h5 class="mb-0">{{post.author.username}}</h5>
                        </a>
                        </div>
                </div>
            </div>
    </div>
    <!-- Card image -->
    <div class="view overlay">
        <img data-id="{{ post.id }}" class="card-img-top" src="{% static 'instagram/img/'|add:post.image %}" alt="{{ post.description }}">
    </div>
    <!-- Card content -->
    <div class="card-body">
        <!-- Title -->
       
        <!-- Text -->
        <!-- Button -->
        <div class="w-100 justify-content-center disable-select">
                <h4>
                    <a class="col like-btn" data-id="{{post.id}}" id="like-btn-{{post.id}}"><i
                            class="fa-thin {% if liked %} fas text-danger {% else %} far {% endif %} fa-heart"></i>
                        
                    </a>
                    <a class="col"><i class="fa-thin far fa-comment"></i></a>
                    <a class="col"><i class="fa-thin far fa-share-square"></i></a>
                </h4>
            </div>
            <a>
                <strong id="like-count-{{post.id}}">{{ post.likes.count }} likes</strong>
            </a>
            <div class="mb-2">
                <a class="text-primary mr-1" href="{% url 'profile' post.author.username %}">
                    <strong>{{ post.author.username }}</strong>
                </a>
                <span>{{ post.description }}</span>
            </div>
        <p class="small text-muted mb-0">{{ post.date_posted|date }}</p>
    </div>

</div>
<!-- Card -->