.asteriskField {
  color: red;
  margin-left: .25rem;
} 

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 768px;
}

.disable-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.fa-thin {
  -webkit-text-stroke: .6px white;
}